@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 129, 11, 45, 0.7;
  --background-end-rgb: 255, 255, 255;
  --padding-content: 5.75rem;
  --margin-content-top: 4rem;
  --max-width-content: 72rem;
  --color-primary: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  appearance: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 1rem;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  color: rgb(var(--color-primary));
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
main,
footer {
  width: 100%;
  display: flex;
  align-self: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slide-top {
  animation: myAnim 400ms normal both;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) backwards;
  animation: tracking-in-expand 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) backwards;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.scale-up-hor-center {
  -webkit-animation: scale-up-hor-center 0.8s;
  animation: scale-up-hor-center 0.8s;
}

@-webkit-keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
  }

  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
  }

  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 1.5s infinite both;
  animation: wobble-hor-bottom 1.5s infinite both;
}

@keyframes wobble-hor-bottom {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  50% {
    -webkit-transform: translateX(-16px) translateY(6px) rotate(-45deg);
    transform: translateX(-16px) translateY(6px) rotate(-45deg);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.scaleWidth {
  -webkit-animation: scale-Width 400ms ease-in-out both;
  animation: scale-Width 400ms ease-in-out both;
}

@keyframes scale-Width {
  0% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
